{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Todo</h1>
    {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Titre'}}) }}
        <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
